body {
      background-color: black;
      color: white;
    }

    h1 {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
    }

    .cover-image-slider {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
      overflow: hidden;
    }

    .cover-image {
      width: 100%;
      transition: all 0.5s ease;
    }

    .cover-image.left {
      transform: translateX(-100%);
    }

    .cover-image.right {
      transform: translateX(100%);
    }

    .cover-image.center {
      transform: translateX(0);
    }
    h2{
      text-align: center;
      color: sandybrown;
    }
    .typo{
      display: flex;
      margin-left: auto;
      margin-right: auto;
      width: 100px;
      height: 100px;
      border-radius: 33px;
      align-items: center;
      justify-content:center ;
      
    }
    .typo .aa{
      margin-right: 33px;

    }
    .typo .bb{
      margin-right: 33px;

    }
    .typo .cc{
      margin-right: 33px;

    }
    .typo .dd{
      margin-right: 33px;

    }
   .first{
      margin: 38px auto;      
      width: 796px;
      height: 196px;
      background-color:#161616 ;
      border-radius: 1px;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      
   
      
   }
    .ftext{
      font-size: 42px;
 
      left: 189px;
      bottom:-161px;

position: absolute
;
}
t1{
      position: absolute;
      left: 197px;
      bottom: -111px;
}
 /* background: -webkit-linear-gradient(rgb(86, 184, 74), rgb(255, 255, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  .contact-button {
      background: linear-gradient(to right, #ff0000, #ffff00); /* gradient from red to yellow */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      border-radius: 33px;
      position: absolute;
      right: 017pc;
      bottom: -25%;

}
    
    .contact-button:hover {
      background: linear-gradient(to right, #ffff00, #00ff00); /* gradient from yellow to green on hover */
    }